body {
    margin: 0px;
    padding: 0px;
}

.container {
    margin-left: 7%;
    margin-right: 7%;
    position: relative;
    width: 100%;
    text-align: center;
}

div {
    margin-bottom: 40px;
    margin-top: 40px;
}

.container ul {
    list-style-type: none;

}

ul li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}
