body {
    margin: 0px;
    padding: 0px;
}

.translucent {
    opacity: 0.2;
    filter: alpha(opacity = 20); /* For IE */
}
#container {
    position: relative;
    width: 200px;
    height: 200px;
}
#background, #content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#background {
    background-image: url(http://www.joomlaworks.net/images/demos/galleries/abstract/7.jpg);
    opacity: 0.2;
}


/*.container {
    margin-left: 7%;
    margin-right: 7%;
    position: relative;
    width: 100%;
    text-align: center;
}*/

div {
    margin-bottom: 40px;
    margin-top: 40px;
}

.container ul {
    list-style-type: none;

}

ul li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}
