// Font colors
$lime: #79E3BD;
$spotify: #4BEC8F;
$seagreen: #3BD5AA;
$dirtygreen: #6FA59B;
$lightblue: #3CC3E2;

// Background colors
$gray: #B4BDBF;
$darkgray: #626769;
$darknavy: #2923A6;
$palenavy: #2B343E;

// Font colors
$white: #FFFFFF;