@import 'colors';
@import 'patterns';

.landingContainer {
  height: 100%;
  margin-top: 30vh;
  @include flexCenterDirection(column);
  .personalTitle {
    margin-left: 4px;
  }
  .landingLearnMore {
    @include flexCenterDirection(row);
    justify-content: space-between;
    width: 150px;

    .landingButton {
      text-align: center;
      a {
        @include roundedButton($palenavy, $palenavy)
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .landingContainer {
    .landingLearnMore {
      width: 180px;
    }
  }
}
