@import 'colors';
@import 'patterns';

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navLinkContainer {
    .navLink {
      @include roundedButton($white, $white)
    }
  }
}